@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: #050505;
  --main-foreground: #ede8ec;

  --cta-background: #f4f4f4;
  --cta-foreground: #121212;

  --blue: #4967fd;
  --purple: #8d5ac5;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: var(--main-background);
  color: var(--main-foreground);
}

.blue-noise-background {
  background: url(/dark_noise_texture.png) repeat,
    radial-gradient(
      256.07% 93.91% at 68.72% 78.49%,
      rgba(73, 103, 253, 0.2) 0%,
      rgba(73, 103, 253, 0) 100%
    ),
    radial-gradient(
      61.46% 121.01% at 93.21% 58.5%,
      rgba(141, 90, 197, 0.2) 0%,
      rgba(141, 90, 197, 0) 100%
    ),
    radial-gradient(
      70.46% 20.36% at 64.23% 12.9%,
      rgba(73, 103, 253, 0.34) 0%,
      rgba(73, 103, 253, 0) 100%
    );
}

.light-noise-background {
  background: url(/clear_noise_texture.png) repeat;
}

.gradient-bold {
  background: linear-gradient(91deg, var(--purple) 32.12%, var(--blue) 95.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-body);
  font-weight: 700;
}

.nav-background {
  background: linear-gradient(90deg, #8d5ac5 0%, #4967fd 100%);
}

.hero-background {
  background: linear-gradient(151deg, var(--purple) 7.81%, var(--blue) 100%);
}

.cta-button-gradient {
  background: linear-gradient(
    180deg,
    #000 0%,
    var(--purple) 0.01%,
    var(--blue) 100%
  );
}

.horizontal-background {
  background: linear-gradient(90deg, #8d5ac5 0%, #4967fd 100%);
}

/* navbar */

.navbar-scrolled-bg {
  background: #00000050;
  backdrop-filter: blur(4px);
}

.burguer-menu {
  padding: 6px;
  margin: -6px;
  margin-left: auto;
}

.burguer-menu svg * {
  transition: 300ms ease-in-out;
}

/* closed */

.burguer-menu-closed .middleBar {
  stroke: #ffffff;
  transform: none;
}

.burguer-menu-closed .bottomBar {
  transform: rotate(none);
  width: 19px;
}

.burguer-menu-closed .topBar {
  transform: rotate(none);
  width: 19px;
}

/* open */

.burguer-menu-open .middleBar {
  stroke: transparent;
  transform: translateX(25px);
}
.burguer-menu-open .bottomBar {
  transform: rotate(-43deg) translateX(-15px) translateY(-1px);
  width: 24px;
}
.burguer-menu-open .topBar {
  transform: rotate(43deg) translateX(6.5px) translateY(-6.5px);
  width: 26px;
}

/* temporary */

.dwight-capital-bg {
  background: radial-gradient(
    71.58% 71.32% at 50% 50%,
    #101e2d 0%,
    #1d303a 100%
  );
}
